@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
  box-sizing: border-box;
}

div {
  position: relative;
  z-index: 2;
}

body {
  background-color: #567;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.5s ease;
}

#quote-box {
  border-radius: 9px;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease, color 0.5s ease;
}

#text {
  text-align: center;
  width: 100%;
  font-weight: 500;
  font-size: 1.75em;
}

#text i {
  font-size: 1em;
  margin-right: 0.4em;
}



.buttons {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.button {
  height: 38px;
  border: none;
  border-radius: 9px;
  color: #fff;
  background-color: #333;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px;
  opacity: 1;
  cursor: pointer;
  transition: background-color 0.4s ease, opacity 0.2s ease;
  text-decoration: none;
}

.button:hover {
  opacity: 0.9;
}

/* Dropdown replacing Twitter icon */
#joke-type {
  height: 38px;
  border-radius: 9px;
  border: none;
  padding: 0 10px;
  font-size: 0.8em;
  background-color: #333;
  color: white;
  cursor: pointer;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  #quote-box {
    width: 90%;
    padding: 30px 25px;
  }

  #text {
    font-size: 1.3em;
  }
}
